@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* .parent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: full;
    height: 4rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    color: white
    
}

.child1{
    display:flex;
    align-items: center;
    place-items: center;
}

.div{

} */

.desktopNav  {
    display: none;
}

@media screen and (min-width: 1025px) {
    .desktopNav{
        display: flex;
        flex-direction: column;
        background: linear-gradient(180deg, #09090A 6.25%, #09090A 44.26%, #09090A 44.27%, #09090A 75.52%);
        align-items: center;
        margin-left: 2.5rem;
        border-radius: 1.5625rem;
        min-width: 5rem;
        height: 100%;
        
    }
  }

.mobileNav{
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #09090A 6.25%, #09090A 44.26%, #09090A 44.27%, #09090A 75.52%);
    align-items: center;
    margin-left: 2.5rem;
    border-radius: 1.5625rem;
    min-width: 5rem;
    height: 80vh;
    backdrop-filter: blur(50px);
    opacity: 0.8;
}

@media screen and (min-width:1025px){
    .nav{
        display:flex;
        flex-direction : row;
    }
}


.carousel_card{
    display : grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap : 1.5rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.carousel_card::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    background: gray;
}


@media screen and (min-width: 1025px){
    .carousel_card{
        display : grid;
        scroll-behavior: auto;
        gap : 1.5rem;
        overflow-y: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        overflow-x: auto;
    }
}



  
.searchRec{
    z-index: 500;
}

.searchRec2{
    z-index: 500;
}


.linear-gradient{
    border-radius: 1.5625rem;
    border: 1px solid #171313;
    background: linear-gradient(180deg, #1B1C1D 17.71%, rgba(26, 27, 29, 0.00) 77.08%);
}


body{
    
    color: white;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}

.sun{
    border-radius: 0.9375rem;
    border: 1px solid #171313;
    background: #1B1C1E;
}

body::-webkit-scrollbar {
    width: 12px;               
  }
  
body::-webkit-scrollbar-track {
    background: black;        
}
  
body::-webkit-scrollbar-thumb {
    background-color: grey; 
    border-radius: 20px;       
        
}

@media screen and (min-width: 1025px){
.weather-div{
    border-radius: 1.5625rem;
    border: 1px solid #171313;
    background: linear-gradient(237deg, #000 -4.37%, rgba(35, 36, 36, 0.89) 41.76%, #232424 52.9%, rgba(35, 36, 36, 0.81) 75.75%, rgba(35, 36, 36, 0.00) 102.6%);
    backdrop-filter: blur(50px);
    }
}


  
  .carousel-item {
    scroll-snap-align: start;
  }
  .card{
    scroll-snap-align: start;
  }


.card-bg{
    border-radius: 0.9375rem;
    border: 1px solid #171313;
    background: linear-gradient(180deg, #1A1B1D 99.99%, rgba(26, 27, 29, 0.00) 100%);
    }

.subscribe-div{
    border-radius: 0rem 0rem 0.9375rem 0.9375rem;
    border: 1px solid #171313;
    background: #191B1B;
}
h3{
    color: #87878B;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



@media screen and ( min-width : 1775px){
    .news{
        display:flex;
        width: 35%;
    }
    .city{
        width:23rem
    }
}


@media screen and ( min-width : 1650px) and ( max-width : 1775px){
    .forecast{
        width:83%;
    }
    .news{
        display:flex;
        place-items: flex-start;
        width: 35%;
        margin-top: 1rem;
        margin-right: auto;
        margin-left: auto;
    }
    .city{
        width:22rem;
    }
    
}

@media screen and ( min-width : 1536px) and ( max-width : 1649px){
    .forecast{
        width:75%;
    }
    .news{
        display:flex;
    }
    .city{
        width:18.5rem
    }   
}

@media screen and ( min-width : 1280px) and ( max-width : 1535px){
    .forecast{
        width:75%;
    }
    .city{
        width:20rem;
    }
    
}
@media screen and (min-width: 1025px) and (max-width: 1279px){
    .forecast{
        width:60%;
    }
    .city{
        width:15.5rem;
    }
}


